[Unit]
Description=SSH Agent
After=default.target

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
ExecStartPost=/home/username/.config/systemd/user/ssh-add-all.sh

[Install]
WantedBy=default.target

